.movie-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);  
  }
/* css for the all the body */
body{
    margin-top: 20px;
    margin-right: 700px;
    margin-left: 50px;
    font-family: Arial, Helvetica, sans-serif;
}
/* style for the title , h2 ,input  */
.title{
  margin-bottom: 40px;
  font-style: italic;
  color:white;
  background-color:rgb(188,44,44);
  padding: 12px;
}
.container-title{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.container-title h2 {
  margin: 0; 
}
.container-title input{
  padding: 7px;
  border-radius: 50px;
  width: 700px;
  margin-right: 120px;
}
/* style for stars*/
.star{
  background-color:rgb(188,44,44);
  width: 150px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  margin-left: 1320px;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 5px;
}





